<p>
  <b>Type:</b>
  <%= @trophy.type %>
  <%= @trophy.role_id %>
</p>

<p>
  <b>Reason:</b>
  <%= @trophy.reason %>
</p>

<p>
  <b>Duration (active?):</b>
  <%= @trophy.duration %>
</p>

<p>
  <b>User:</b>
  <%= @trophy.discord_user_id %>
</p>

<p>
  <b>Server:</b>
  <%= @trophy.server_id %>
  <%= @trophy.user_id %>
  <%= @trophy.user_id %>
</p>

<%= link_to 'Back', trophies_path %>
