<h1>Triggers</h1>
<h3><%= link_to 'Create a new trigger', new_trigger_path %></h3>
<p>First value of options is the chance of the trigger and the second is the mode: exact/any/regex.</p>
<p>Calls format: Occurrences + Calls</p>
<div class="rTable">
  <div class="rTableBody">
    <div class="rTableRow label">
      <div class="rTableHead">Phrase</div>
      <div class="rTableHead">Reply / File</div>
      <div style="text-align: right;" class="rTableHead">Options</div>
      <div style="text-align: center;" class="rTableHead">Calls</div>
      <div style="text-align: center;" class="rTableHead">Actions</div>
    </div>

    <% @triggers.each do |trigger| %>
      <div class="rTableRow">
        <div style="width: 140px;" class="rTableCell item"><%= trigger.phrase %></div>
        <div class="rTableCell item">
          <%= file = File.basename(trigger.file.to_s)
              if trigger.reply.blank?
                "<a
                    target='_blank'
                    rel='noopener noreferrer'
                    href='https://rin.luukuton.fi/td/#{file}'>
                    #{file}
                </a>".html_safe
              else
                trigger.reply
              end %>
        </div>
        <div style="width: 100px; text-align: right;" class="rTableCell item">
          <%= mode_in_words(trigger.mode) %>
          <%= tohsaka_bridge.parse_chance(trigger.chance, trigger.mode).to_s + " %"  %>
        </div>
        <div style="width: 50px; text-align: center;" class="rTableCell item">
          <%= trigger.occurrences %> + <%= trigger.calls %>
        </div>
        <div style="width: 75px; text-align: center;" class="rTableCell item">
          <%= link_to 'ðŸ‘€', trigger_path(trigger) %>
          <%= link_to 'ðŸ“', edit_trigger_path(trigger) %>
          <%= link_to 'ðŸ—‘ï¸', trigger_path(trigger), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
