<p>
  <b>ID:</b>
  <%= @trigger.id %>
</p>


<p>
  <strong>Phrase:</strong>
  <%= @trigger.phrase %>
</p>

<p>
  <strong>Reply:</strong>
  <%= @trigger.reply %>
</p>

<p>
  <strong>Filename:</strong>
  <%= File.basename(@trigger.file.to_s) %>
</p>

<p>
  <strong>Chance:</strong>
  <%= (@trigger.chance == 0 ? tohsaka_bridge.get_def_trigger_chance(@trigger.mode) : @trigger.chance).to_s + " %" %>
</p>

<p>
  <strong>Mode:</strong>
  <%= (@trigger.mode == 0 ? "normal" : "any") %>
</p>

<p>
  <strong>Server:</strong>
  <%= "#{tohsaka_bridge.get_server(@trigger.server_id).name} (#{@trigger.server_id})"  %>
</p>

<%= link_to 'Back', triggers_path %>
